In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('timetable_20200410.csv',dtype={'stop_id': str,'block_id':str,'parent_station':str})

In [3]:
file.describe()

,start_date,end_date,route_type,direction_id,stop_sequence,pickup_type,drop_off_type,stop_lat,stop_lon,location_type,wheelchair_accessible,wheelchair_boarding,monday,tuesday,wednesday,thursday,friday,saturday,sunday
count,156600.0,156600.0,156600.0,156600.000000,156600.000000,156600.000000,156600.000000,156600.000000,156600.000000,156600.0,156600.0,156600.0,156600.000000,156600.0,156600.0,156600.0,156600.000000,156600.000000,156600.000000
mean,20200410.0,20200413.0,2.0,0.475511,46.111360,0.273091,0.272388,-33.841271,151.059935,0.0,0.0,0.0,0.325958,0.0,0.0,0.0,0.336743,0.337765,0.337465
std,0.0,0.0,0.0,0.499402,37.606233,0.445548,0.445190,0.286777,0.272657,0.0,0.0,0.0,0.468733,0.0,0.0,0.0,0.472598,0.472950,0.472846
min,20200410.0,20200413.0,2.0,0.000000,0.000000,0.000000,0.000000,-37.817614,141.466701,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
25%,20200410.0,20200413.0,2.0,0.000000,18.000000,0.000000,0.000000,-33.922846,150.972427,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
50%,20200410.0,20200413.0,2.0,0.000000,36.000000,0.000000,0.000000,-33.871663,151.090095,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
75%,20200410.0,20200413.0,2.0,1.000000,66.000000,1.000000,1.000000,-33.790144,151.180821,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000
max,20200410.0,20200413.0,2.0,1.000000,283.000000,1.000000,1.000000,-27.465776,153.137792,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000

In [4]:
file.head()

,start_date,end_date,arrival_time,departure_time,route_id,route_short_name,route_long_name,route_type,route_color,route_text_color,...,wheelchair_boarding,monday,tuesday,wednesday,thursday,friday,saturday,sunday,agency_name,agency_timezone
0,20200410,20200413,08:12:00,08:12:30,APS_1a,T8,City Circle to Macarthur via Airport,2,00954C,FFFFFF,...,0,0,0,0,0,1,1,0,Sydney Trains,Australia/Sydney
1,20200410,20200413,08:02:01,08:03:01,APS_1a,T8,City Circle to Macarthur via Airport,2,00954C,FFFFFF,...,0,0,0,0,0,1,1,0,Sydney Trains,Australia/Sydney
2,20200410,20200413,08:20:00,08:21:00,APS_1a,T8,City Circle to Macarthur via Airport,2,00954C,FFFFFF,...,0,0,0,0,0,1,1,0,Sydney Trains,Australia/Sydney
3,20200410,20200413,09:17:00,09:18:00,APS_1a,T8,City Circle to Macarthur via Airport,2,00954C,FFFFFF,...,0,0,0,0,0,1,1,0,Sydney Trains,Australia/Sydney
4,20200410,20200413,08:51:00,08:51:30,APS_1a,T8,City Circle to Macarthur via Airport,2,00954C,FFFFFF,...,0,0,0,0,0,1,1,0,Sydney Trains,Australia/Sydney