In [18]:
import pandas as pd
from datetime import date
import os

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
trip_id = '51AM.1649.102.128.M.4.61700889'
stop_id = '2166271'

In [4]:
file = pd.read_csv('trip_update_20200411.csv',dtype={'arrival_delay': str})

In [5]:
# file = file.dropna(subset=['arrival_delay'])
# file["arrival_delay"] = pd.to_numeric(file["arrival_delay"])
file.describe()

             date       stop_id  departure_delay
count      4228.0  4.217000e+03      3453.000000
mean   20200411.0  1.810455e+06         8.951926
std           0.0  7.841886e+05        40.171396
min    20200411.0  2.020910e+05       -41.000000
25%    20200411.0  2.000352e+06         0.000000
50%    20200411.0  2.122232e+06         0.000000
75%    20200411.0  2.199172e+06         0.000000
max    20200411.0  2.770594e+06       395.000000

In [6]:
file.schedule_relationship.unique()

array(['SCHEDULED', nan, 'CANCELED', 'ADDED'], dtype=object)

In [7]:
file[file['trip_id'] == trip_id]

,date,time,trip_id,route_id,schedule_relationship,stop_id,arrival_time,arrival_delay,departure_time,departure_delay,update_scheduleRelationship
3764,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2170823.0,NaN,0,NaN,0.0,SCHEDULED
3765,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2170831.0,NaN,0,NaN,0.0,SCHEDULED
3766,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2166271.0,NaN,0,NaN,0.0,SCHEDULED
3767,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2166281.0,NaN,0,NaN,0.0,SCHEDULED
3768,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2165201.0,NaN,0,NaN,0.0,SCHEDULED
3770,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2161251.0,NaN,0,NaN,0.0,SCHEDULED
3771,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2160261.0,NaN,0,NaN,0.0,SCHEDULED
3772,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2150404.0,NaN,0,NaN,0.0,SCHEDULED
3773,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2150414.0,NaN,0,NaN,0.0,SCHEDULED
3774,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2145664.0,NaN,0,NaN,0.0,SCHEDULED
3775,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2145654.0,NaN,0,NaN,0.0,SCHEDULED
3776,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2145644.0,NaN,0,NaN,0.0,SCHEDULED
3777,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2146114.0,NaN,0,NaN,0.0,SCHEDULED
3778,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2147424.0,NaN,0,NaN,0.0,SCHEDULED
3920,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2148532.0,NaN,0,NaN,0.0,SCHEDULED
3936,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2148542.0,NaN,0,NaN,0.0,SCHEDULED
3937,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2161261.0,NaN,0,NaN,0.0,SCHEDULED
3960,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2762122.0,NaN,0,NaN,0.0,SCHEDULED
3961,20200411,17:45:30,51AM.1649.102.128.M.4.61700889,CMB_2a,SCHEDULED,2763172.0,NaN,0,NaN,0.0,SCHEDULED

In [8]:
one_trip = file[file['trip_id'] == trip_id]
one_trip.to_csv(trip_id + '.csv')

In [9]:
# trip_obj = one_trip[one_trip['trip_id'] == trip_id]
# trip_obj

In [19]:
timetable = pd.read_csv('../timetable/timetable_20200411.csv',dtype={'stop_id': str,'block_id':str,'parent_station':str})

In [20]:
trip_id = '12-D.1649.102.194.B.8.61079501'
o = timetable[timetable['trip_id'] == trip_id]
o = o.sort_values(by=['stop_sequence'])
o.to_csv(trip_id + '_timetable.csv' )

In [12]:
# one_trip_timetable = timetable[timetable['stop_id'] == stop_id]
# one_trip_timetable

In [13]:
# obj = one_trip_timetable[one_trip_timetable['trip_id'] == trip_id]
# obj

In [14]:
# trip_obj

In [15]:
df2 = file
df2.duplicated(subset=['trip_id', 'stop_id']).any()

True